@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* HERO SECTION STYLES */
.hero-arch {
  width: 100%;
  max-width: 220px;
  height: 500px;
  object-fit: cover;
  border-radius: 50% / 28%;
  transition: transform 0.3s ease;
}

.hero-arch:hover {
  transform: scale(1.05);
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 60px 100px;
}

.hero-text {
  flex: 1;
  text-align: right;
}

.hero-images {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* ABOUT SYSTEM IMAGE */
.about-img {
  width: 100%;
  max-width: 500px;  /* keeps it from being too big */
  height: auto;      /* maintains aspect ratio */
  object-fit: contain;
  border-radius: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
